<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/estilo/home.css" />  <!-- Adicione esta linha para incluir seu CSS -->
    <link rel="shortcut icon" type="imagex/svg" href="/img/VectorLoguinho2.0.svg">

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo_001-removebg-preview.png" alt="Logo">
                </a>
            </div>


        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
