@{
    <title>@ViewData["Title"]Sobre Nós - Autismo em Foco</title>
}

@section Styles
{
    <link href="/estilo/sobrenos.css" rel="stylesheet" />
}

<body>

    <main>
        <p class="principal">
            Desde 2016, a empresa tem sido líder na compreensão e aceitação do autismo,
            comprometendo-se com a divulgação e sensibilização sobre o tema. Um grupo
            determinado uniu-se para oferecer informações, apoio e esperança à comunidade autista.
            Apesar dos desafios, a empresa tem obtido conquistas significativas, acreditando que o conhecimento é essencial para a inclusão.
            Produzem conteúdo educativo de qualidade e promovem iniciativas para combater preconceitos.
            Além disso, criam espaços de diálogo e suporte mútuo entre pais, cuidadores, profissionais e autistas.
            O objetivo é uma sociedade onde o autismo seja celebrado pela diversidade que traz ao mundo.
            Continuarão trabalhando incansavelmente para tornar esse sonho realidade.<br>

            Junte-se a nós nesta jornada de descoberta, empatia e respeito. Juntos, podemos criar um mundo onde todos
            tenham o direito de brilhar, independentemente das cores do espectro autista.
        </p>

    </main>
   
</body>
</html>